img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #header {
    display: flex;
  justify-content: space-between;
  }
  #button {
    display: flex;
  justify-content: flex-end;
  }
  #buttons {
    display: flex;
  justify-content: center;
  }