/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  } */
  input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #header {
    display: flex;
  justify-content: space-between;
  }
main {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  #serch{
    display: flex;
    justify-content:space-around;
  }
  #para {
    display: flex;
    align-items: flex-end;
  }
  
  #bottom-left{
    display: flex;
    justify-content: space-around;
    transform;translate(100%);
    transform; translate(25px);
    width: 400px;
  }
  #bottom-right{
    display: flex;
    justify-content: space-around;
    transform;translate(100%);
    transform; translate(25px);
    width: 400px;
  }
  }