/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  } */
  input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #header {
    display: flex;
  justify-content: space-between;
  }
main {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  #serch{
    display: flex;
    justify-content:space-around;
  }
  #para {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  #footer {
    display: flex;
    background-color:rgb(196, 193, 193);
  }